/* src/styles/formcard.css */


.pre-footer-section {
    background-image: url('/public/PPL.jpg'); 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 80px 20px; 
    color: white; 
    text-align: center; 
    position: relative; 
    width: 100%;
    height: 300px; 
    overflow: hidden 
}

.form-card-container {
  padding: 100px 20px; 
  font-family: Arial, sans-serif; 
}

.form-card {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border: 0.5px solid;
  border-color: #e0e6ed; 
  border-radius: 12px;
  padding: 2.5rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}


.form-section-header {
  position: relative;
  display: inline-block;
  background: #004a80;
  color: #fff;
  font-weight: bold;
  padding: 2px 66px;
  border-radius: 6px 6px 0 0;
  position: relative;
  top: 26px;
  margin-top: 30px;
}

.header-line::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Ajusta la posición vertical de la línea */
  left: 0;
  width: 100%;
  height: 3px; /* El grosor de la línea */
  background-color: #007bff; /* El color azul de la línea */
}

.section-heading {
  padding: 0.5em 0.25em;
  margin: 0.25em 0;
  color: #555555;
  font-weight: 300;
  border-radius: 5px;
  font-size: 1.2rem;
  clear: both; 
}

.header-line {
  border-bottom: 2px solid #004a80;
}

.form-section-content {
  border-top: 2px solid #004a80;
  padding: 20px;
}


.form-group {
  margin-top: 35px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
}


.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
}



.form-card .add-owner-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 65px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
}

.add-owner-button:hover {
  background-color: #218838; 
}


.remove-owner-button {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 5px 65px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 99px;
}

.remove-owner-button:hover {
  background-color: #c82333; 
}


.remove-icon {
  margin-right: 5px;
}


.owner-section {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.form,
.form2,
.form3 {
  border-top: 2px solid #004a80;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group-50 { 
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.form-group.full {
  flex: 1 1 100%;
}


.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0;
}

.radio-option {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.radio-option input {
  margin-right: 8px;
}


.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 60px;
  color: #333;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .slider {
  border: 0.5px solid;
  border-color: #aaaaaa;
  border-width: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 17px;
  background-color: #fffefe;
  border-radius: 22px;
  transition: background-color 0.4s, transform 0.4s;
}

.toggle-switch .slider::before {
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 1px;
  background-color: rgb(104, 101, 101);
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #1c99d0;
  border-color: #1c99d0;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(19px);
}


.terms-conditions-container {
  border-top: 2px solid #004a80;
  padding: 25px;
  background-color: #f9f9f9;
  overflow-y: scroll;
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.terms-conditions-container p {
  margin-top: 12px;
  line-height: 1.3;
  font-weight: 300;
  text-align: justify;
}


.checkout-button {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 1em 8em;
  border: none;
  outline: none;
  font-weight: 700;
  background: #199cd8; 
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkout-button:hover {
  background: #007bb3;
}


.agreement {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 16px;
  color: #444;
}

.agreement input[type="checkbox"] {
  margin-right: 10px;
}


.form-card h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

