body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-background {
  background-image: url('/NFC.jpg'); /* tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
